

.body-area {
    position: relative;
    margin: 2rem 0 0 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    transition: .5s;
}


/*.dashboard-section {*/

/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: calc(100% - 20px);*/
/*    height: 100vh;*/
/*    z-index: 1;*/
/*    transition: left 0.3s ease, width 0.3s ease;*/

/*}*/


.dashboard-content {
    position: fixed;
    left: 130px;
    /*width: 100%;*/
    width: calc(100% - 140px);
    height: 100vh;
    transition: left 0.3s ease, width 0.3s ease;
    overflow-x: hidden;
    margin-top: 4rem ;
    margin-bottom: 100px;

}





/*------------need to think about collapse and overlapping dashboard content on side bar ....dark coder*/


/*.dashboard-section.body-area {*/

/*    transition: left 0.3s ease, width 0.3s ease;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 1;*/

/*    overflow-x: hidden;*/

/*}*/

@media screen and (max-width: 768px) {

    /*purae collapsed bhae sakepachi ko */
    .dashboard-content {
        left: 5px;
        width: calc(101% - 17px);

        transition: left 0.3s ease, width 0.3s ease, padding-left 0.3s ease;
    }

    /*sano banauda setting haru*/
    .dashboard-content.body-area {

        left: 70px;
        width: calc(100% - 80px);
        padding-left: 20px;
        height: 100vh;
        overflow-x: hidden;
        transition: left 0.3s ease, width 0.3s ease, padding-left 0.3s ease;
    }


}




/*@media screen and (max-width: 768px) {*/
/*    .dashboard-content.body-area{*/
/*        left: 0;*/
/*        width: calc(100% - 15px);*/
/*        padding-left: 20px;*/
/*        transition: left 0.3s ease, width 0.3s ease, padding-left 0.3s ease;*/
/*    }*/
/*}*/



/*.dashboard-content.body-area {*/

/*    position: fixed;*/
/*    left: 230px;*/
/*    width: calc(100% - 240px);*/
/*    padding-left: 40px;*/
/*    height: 100vh;*/

/*    overflow-x: hidden;*/
/*    transition: left 0.3s ease, width 0.3s ease;*/

/*}*/





.dashboard-content .dashboard-title {
    display: flex;
    align-items: center;
    margin: 10px 0 30px 0;
    font-size: 24px;
}

.dashboard-content .dashboard-title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #0E4BF1;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dashboard-content .dashboard-title .dashboard-name {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-left: 10px;
}


.dashboard-box-name{
    font-size: 18px;
    font-weight: 600;
}



.dashboard-content .dashboard-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.dashboard-content .dashboard-boxes .dashboard-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: calc(100% / 3 - 15px);
    padding: 35px 5px;
    background-color: #4DA3FF;
    transition: all 0.5s ease;
}


.dashboard-boxes .dashboard-box i {
    font-size: 35px;
    color: #000;
}



.dashboard-boxes .dashboard-box .dashboard-name {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.dashboard-boxes .dashboard-box .dashboard-number {
    font-size: 19px;
    font-weight: 500;
    color: #000;
}

.dashboard-boxes .dashboard-box.two {
    background-color: #FFE6AC;
}

.dashboard-boxes .dashboard-box.three {
    background-color: #E7D1FC;
}



.dark .dashboard-name {
    color: white !important;
}


@media screen and (min-width: 768px) {
    .body-area {
        margin: calc(3rem + 1rem) 0 0 0;
        padding-left: calc(100px + 2rem);
    }




}