@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
/*---------------------------------------- sidebar css progress ----------------------------------------*/



.navHeader {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #F7F6FB;
    z-index: 100;
    transition: .5s;
}

.toggleBarHeader {
    color: #111111;
    font-size: 2rem;
    cursor: pointer;
}

.headerProfile_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.headerProfile_img img {
    width: 40px;
}

.sideNavBar {
    position: fixed;
    top: 0;
    left: -20%;
    width: 80px;
    height: 100vh;
    background-color: #111111;
    padding: .3rem 1rem 0 0;
    transition: .5s;
    z-index: 100;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}



.show {
    left: 0;
}

.body-padding {
    transition: .5s;
    padding-left: calc(5.5rem + 1rem);
}





.my-logo-name{
    justify-content: center;
    font-size: 25px;
}




.nav li a:hover i,
.nav li a:hover .menu-item-nav{
    color: gold;
}


.nav{
    margin-top: 0;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav li a{

    display: flex;
    align-items: center;
    height: 70px;
    text-decoration: none;
    position: relative;
    margin-left: -40px;
}

.nav li{
    list-style: none;
}



.nav li a i{
    font-size: 24px;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /*background: linear-gradient(to bottom, #707070, #CCCCCC);*/
}

.nav li a .menu-item-nav{
    font-size: 18px;
    font-weight: 400;
    color: White;
}

.menu-items.collapsed .menu-item-nav {
    opacity: 0;
    pointer-events: none;
}





/*---------------------------------------- user actions yo yo here ----------------------------------------*/


.user-logout-darkmode-actions {
    cursor: pointer;
}

/*---------------------------------------- dark coder: dark mode ----------------------------------------*/

.dark-mode .uil-moon::before {
    content: '🌙';
    margin-right: 5px;
    font-size: 1.6rem;
    transition: transform 0.3s ease;
}

.dark .uil-moon {
    transform: rotate(180deg);
}

.uil-moon {
    margin-left: -2px;
}

body.dark {
    background-color: #3A3B3C;
}

.dark .my-logo-name {
    color: black !important;
}












@media screen and (min-width: 768px) {


    .navHeader {
        height: calc(3rem + 1rem);
        padding: 0 3rem 0 calc(100px + 2rem);
    }

    .headerProfile_img {
        width: 40px;
        height: 40px;
    }

    .headerProfile_img img {
        width: 45px;
    }

    .sideNavBar {
        left: 0;
        padding: 3.7rem 1rem 0 0;
    }

    .show {
        width: calc(100px + 150px);
    }

    .body-padding {
        padding-left: calc(100px + 160px);
    }

}



/* CSS */
.headerRight {
    display: flex;
    align-items: center;
    gap: 10px;
}



